VITE_ID=blockchain_investigator
VITE_NAME="Blockchain Investigator"

VITE_LOG_LEVEL=debug

VITE_PAGE_TITLE_DIRECTION=desc

VITE_BLOCKCHAIN_ETHEREUM_EXPLORER_API_URL=https://api.etherscan.io/api
VITE_BLOCKCHAIN_ETHEREUM_EXPLORER_API_KEY=
